// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/cart/cart";
@import "../pages/product-details/product-details";
@import "../pages/products/products";
@import "../pages/invoice/invoice";

.menu-photo{
    width:150px;
    height: auto;
}

.white-text{
    color: white;
}