span.invoice-code {
    font-size: 2rem
}
.kode{
    color: white;
    padding-top: 5px;
    vertical-align: middle;
}
.half{
    width: 50%;
    float: left;
}
.onethird-r{
    width: 33.3333%;
    float: right;
}