<ion-menu [content]="content">

  <ion-toolbar primary style="height:400px;text-align:center">
    <img [src]="pagesOri?.data?.user?.user_img_profile" class="menu-photo" *ngIf="pagesOri?.data?.user?.user_img_profile"/>
    <ion-title>{{pagesOri?.data?.user?.user_fullname}}</ion-title>
    
    <p class="white-text">{{pagesOri?.data?.user?.user_description}}</p>
    
  </ion-toolbar>

  <ion-content>
    <ion-list>
      <ion-list-header>Menu</ion-list-header>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-toolbar primary>
    <ion-title>vendpad.com</ion-title>
    </ion-toolbar>
  </ion-footer>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
